/* Add CSS styling here */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Trade+Winds&display=swap');

*{
  box-sizing:border-box;
  margin:0;
  padding:0;
  max-width:100%;
  border:1px solid grey;
}

html{
  font-size:62.5%
}

body{
  font-size: 1.6rem;
  font-family: 'Barlow Condensed', sans-serif;
  background-color: #597496;
}

h1{
  font-family: 'Trade Winds', cursive;
  font-size: 5rem;
} 

h2{
  font-family: 'Trade Winds', cursive;
}

header{
  padding:2%;
  background-color: #4E3441;
  border-bottom: black 2px solid;
}

section{
  padding:1%;
}

footer{
  padding:1%;
  background-color: #4E3441;
}

a{
  text-decoration:none;
  padding:1% 3%;
  font-weight:bold;
  background-color:#C2A4AD;
  color:#4E3441;
  margin-top: 1%;
  rad
}

p{
  font-size: 4rem;
}

/* header section */

nav{
  display:flex;
  margin-left: 1%;
}

.info-container{
  display:flex;
  justify-content: space-evenly;
}

.big-image{
  width:50%;
}

.info{
  width:50%;
  padding:2%;
}

